.brand-Wrapper *,
.brand-Wrapper *::before,
.brand-Wrapper *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: inherit;
  letter-spacing: 0;
  text-decoration: none;
}

.brand-Wrapper {
  color: var(--color-text);
  position: relative;
}

.brand-Wrapper sup {
  font-size: 0.72em;
  vertical-align: super;
}

.brand-Wrapper sub {
  font-size: 0.72em;
  vertical-align: sub;
}

.brand-Wrapper a {
  text-decoration: none;
}

.brand-Wrapper strong,
.brand-Wrapper em {
  font-weight: bold;
}
