.brand-m-Wrapper *,
.brand-m-Wrapper *::before,
.brand-m-Wrapper *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: inherit;
  letter-spacing: 0;
  text-decoration: none;
}

.brand-m-Wrapper {
  position: relative;
}

.brand-m-Wrapper sup {
  font-size: 0.72em;
  vertical-align: super;
}

.brand-m-Wrapper sub {
  font-size: 0.72em;
  vertical-align: sub;
}

.brand-m-Wrapper a {
  text-decoration: none;
}

.brand-m-Wrapper strong,
.brand-m-Wrapper em {
  font-weight: bold;
}
