/* -------------------------
modal
------------------------- */
.modal-inner {
  margin: 0 auto;
  max-width: 760px;
  width: 100%;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.modal-inner{
  width: 100%;
  height: 100%;
}
.modal-inner > img:first-child{
  width: 100%;
}
.modal-inner img.icon{
  width: 100%;
  max-width: 240px;
  margin: -120px auto 21px;
  display: block;
}
.modal-inner p{
  padding: 0 40px 50px;
}

@media screen and (max-width: 769px) {
  .modal-inner > img:first-child {
    height: 188px;
    object-fit: cover;
  }
  .modal-inner img.icon {
    max-width: 130px;
    margin: -50px auto 12px;
  }
}